h1{
	text-align: center;
	color:black;
}
h3{
	margin-left:400px;
}
table,th,td{
	border-collapse: collapse;
}
table,th,td{
	border:1px solid black;
	padding:15px;
	

	
}
table:{
	margin-left:300px;
}
th{
	text-align:left;
}